@model TramVerdeelSysteem.Views.Depot.DepotModelDumpView
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDepot.cshtml";
}

    @*<div class="addPopUp" id="addPopUpContainer">
        <div class="row">
            <input type="number" />
            <select id="Spoor" name="Spoor">
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="60">60</option>
                <option value="61">61</option>
                <option value="62">62</option>
                <option value="63">63</option>
                <option value="64">64</option>
            </select>
        </div>
        <div class="row">
            <select id="Sector" name="Sector">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="row">
            <input type="button" id="addCancel" class="btn-danger" value="Annuleren" />
            <input type="button" id="addAccept" class="btn-success" value="Toevoegen" />
        </div>
    </div>*@

    @*<div class="wijzigPopUp" id="wijzigPopUpContainer">
        <div class="row">
            <input type="number" value="202" />
            <select id="wijzigSpoor" name="Spoor">
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="31">31</option>
                <option selected="selected" value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="60">60</option>
                <option value="61">61</option>
                <option value="62">62</option>
                <option value="63">63</option>
                <option value="64">64</option>
            </select>
        </div>
        <div class="row">
            <select id="wijzigSector" name="Sector">
                <option value="1">1</option>
                <option selected="selected" value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="row">
            <input type="button" id="wijzigDelete" class="btn-warning" value="Delete" />
        </div>
        <div class="row">
            <input type="button" id="wijzigCancel" class="btn-danger" value="Annuleren" />
            <input type="button" id="wijzigAccept" class="btn-success" value="Toevoegen" />
        </div>
    </div>*@

    <div class="sectorPopUp" id="sectorPopUpContainer">
        <div class="row">
            <label id="spoorSector">Spoor , Sector</label>
        </div>
        <form asp-action="AddTrain">
            <div class="row">
                <input id="tramId" type="number" asp-for="Train.TramId" />
                <input id="sectorPos" type="hidden" asp-for="Train.SectorPosition" />
                <input id="trackNum" type="hidden" asp-for="Train.TrackNumber" />
                @Html.DropDownListFor(m => m.Train.SectorStatus,
                        new SelectList(Enum.GetValues(typeof(Model.ViewModels.AddTrainView.Status))))
            </div>
            <div class="row">
                <input type="button" id="sectorCancel" class="btn-danger" value="Annuleren" />
                @using (Html.BeginForm("AddTrain", "Depot", FormMethod.Post))
                {
                    <input type="submit" id="sectorAccept" class="btn-success" value="Toevoegen" />
                }
            </div>
        </form>
    </div>

    <div class="row-editted">
        <div class="col-lg-2 col-md-4 col-sm-8 col-xs-8 options">
            <div class="list-group">
                <!--Must-->
                @using (Html.BeginForm("AddTrains", "Depot", FormMethod.Post))
                {
                    <input type="submit" id="autoAdd" class="btn-secondary" value="Automatisch Toevoegen" />
                }
            </div>
    </div>

    <div class="col padding-75">
        @foreach (TramVerdeelSysteem.Views.Depot.TrackPartition trackPartition in Model.trackPartitions)
        {
            <div class="row padding-bot">
                @foreach(Model.ViewModels.TrackDepotView trackDepotView in trackPartition.trackDepots)
                {
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-0">
                    <div class="list-group">
                        <!--Rail-->
                <input type="button" class="list-group-item text-center" value="@trackDepotView.TrackNumber">
                <!--Line-->
                <input type="button" class="list-group-item text-center colorRed" value="@trackDepotView.Line">
                @foreach (Model.ViewModels.SectorDepotView sectorDepotView in trackDepotView.Sectors)
                {
                    <input name="@trackDepotView.TrackNumber.ToString()/@sectorDepotView.Position.ToString()" type="button" onclick="openSectorDiv(@trackDepotView.TrackNumber,@sectorDepotView.Position)" class="list-group-item text-center" value="@sectorDepotView.idTram">
                }
            </div>
                    </div>
                    }
                </div>
            }
        </div>
    </div>


                    <script type="text/javascript">
                        //Add Popup
                        //var addPopUpContainer = document.getElementById("addPopUpContainer");
                        //addPopUpContainer.style.visibility = 'hidden';

                        //document.getElementById("addCancel").onclick = function () { closeAddDiv() };
                        //document.getElementById("addAccept").onclick = function () { closeAddDiv() };
                        //function closeAddDiv() {
                        //    addPopUpContainer.style.visibility = 'hidden';
                        //}

                        //document.getElementById("addPopUp").onclick = function () { openAddDiv() };
                        //function openAddDiv() {
                        //    addPopUpContainer.style.visibility = 'visible';
                        //}

                        //Wijzig Popup
                        //var wijzigPopUpContainer = document.getElementById("wijzigPopUpContainer");
                        //wijzigPopUpContainer.style.visibility = 'hidden';

                        //document.getElementById("wijzigCancel").onclick = function () { closeWijzigDiv() };
                        //document.getElementById("wijzigAccept").onclick = function () { closeWijzigDiv() };
                        //document.getElementById("wijzigDelete").onclick = function () { closeWijzigDiv() };
                        //function closeWijzigDiv() {
                        //    wijzigPopUpContainer.style.visibility = 'hidden';
                        //}

                        //function openWijzigDiv() {
                        //    wijzigPopUpContainer.style.visibility = 'visible';
                        //}

                        //Sector Popup
                        var sectorPopUpContainer = document.getElementById("sectorPopUpContainer");
                        sectorPopUpContainer.style.visibility = 'hidden';

                        document.getElementById("sectorCancel").onclick = function () { closeSectorDiv() };
                        document.getElementById("sectorAccept").onclick = function () { closeSectorDiv() };
                        function closeSectorDiv() {
                            sectorPopUpContainer.style.visibility = 'hidden';
                        }

                        function openSectorDiv(Rail, Sector) {
                            document.getElementById("spoorSector").innerHTML = 'Spoor ' + Rail.toString() + ", Sector " + Sector.toString();
                            $("[id=trackNum").val(Rail);
                            $("[id=sectorPos").val(Sector);

                            //document.getElementById("trackNum").Val = Rail.toString();
                            //document.getElementById("sectorPos").Val = Sector.toString();
                            sectorPopUpContainer.style.visibility = 'visible';
                        }
                    </script>
