@model Model.ViewModels.CleaningView
@{   
 ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="list-group">
            <label class="list-group-item"><b>Trams:</b></label>
            @foreach (var train in Model.CleaningList)
            {
                <input class="list-group-item text-left" type="button" onclick="ShowTram(@train.Number, @train.Rails, @train.Sector, @train.IsLarge.ToString().ToLower())" value="@train.Number.ToString()" />
            }
        </div>
    </div>
        
    <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
        <label><b>Tram Nummer:</b></label>
        <label id="TramNumber"></label>
        <br />

        <label><b>Spoor numer:</b></label>
        <label id="Spoor"></label>

        <br />
        <label><b>Sector nummer:</b></label>
        <label id="Sector"></label>
        <br />
        <label><b>grote/kleine schoonmaak:</b></label>
        <label id="IsLarge"></label>
        <p id="Beschrijving"></p>

    </div>
</div>

<div class="row">
    <form class="col-12" asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="TargetNumber" type="hidden"  id="targetNumber" name="targetNumber" value=""/>
        
        <input asp-for="TargetIsLarge" type="hidden" id="targetIsLarge"  name="targetIsLarge" value=""/>
        
        <input type="submit" class="btn btn-primary float-right" value="clean" />
    </form>
</div>

<script type="text/javascript">
    function ShowTram(TramNumber, Spoor, Sector, Islarge) {
        var tramnumber = document.getElementById('TramNumber');
        var spoor = document.getElementById('Spoor')
        var sector = document.getElementById('Sector')

        document.getElementById('IsLarge').innerText = Islarge;
        tramnumber.innerText = TramNumber;
        spoor.innerText = Spoor;
        sector.innerText = Sector;
        
        document.getElementById('targetNumber').value = TramNummer;
        document.getElementById('targetIsLarge').value = Islarge;
    }
</script>
