@model Model.ViewModels.CleaningMasterView
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="list-group">
            <label class="list-group-item"><b>Trams:</b></label>

            @foreach (var train in Model.cleanings)
            {
                <input class="list-group-item text-left" type="button" onclick="ShowTram(@train.TargetNumber, @train.TargetRail, @train.TargetSector, @train.TargetIsLarge.ToString().ToLower())" value="@train.TargetNumber.ToString()" />
            }
        </div>
    </div>

    <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
        <label><b>Tram Nummer:</b></label>
        <label id="TramNumber"></label>
        <br />

        <label><b>Spoor numer:</b></label>
        <label id="Spoor"></label>

        <br />
        <label><b>Sector nummer:</b></label>
        <label id="Sector"></label>
        <br />
        <label><b>grote/kleine schoonmaak:</b></label>
        <label id="IsLarge"></label>

        <br />
        <form class="col-12" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input asp-for="TargetAnnotation" type="text" id="tragetAnnotation" name="tragetAnnotation" value=""/>*@
            <input asp-for="cleaning.TargetNumber" type="hidden" id="targetNumber" name="targetNumber" value="" />
            <input asp-for="cleaning.TargetIsLarge" type="hidden" id="targetIsLarge" name="targetIsLarge" value="" />
            <input asp-for="cleaning.TargetRail" type="hidden" id="targetRail" name="targetRail" value="" />
            <input asp-for="cleaning.TargetSector" type="hidden" id="targetSector" name="targetSector" value="" />
            <input type="submit" class="btn btn-primary float-right" value="clean" />
        </form>
    </div>
</div>

<div class="row">
    @*<form class="col-12" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="TargetNumber" type="hidden"  id="targetNumber" name="targetNumber" value=""/>
            <input asp-for="TargetIsLarge" type="hidden" id="targetIsLarge"  name="targetIsLarge" value=""/>
            <input asp-for="TargetRail" type="hidden" id="targetRail"  name="targetRail" value=""/>
            <input asp-for="TargetSector" type="hidden" id="targetSector"  name="targetSector" value=""/>
            <input type="submit" class="btn btn-primary float-right" value="clean" />
        </form>*@
</div>

<script type="text/javascript">
    function ShowTram(TramNumber, Rail, Sector, Islarge) {
        document.getElementById('TramNumber').innerText = TramNumber;
        document.getElementById('Spoor').innerText = Rail;
        document.getElementById('Sector').innerText = Sector;
        document.getElementById('IsLarge').innerText = Islarge;

        document.getElementById('targetNumber').value = TramNumber;
        document.getElementById('targetIsLarge').value = Islarge;
        document.getElementById('targetRail').value = Rail;
        document.getElementById('targetSector').value = Sector;

        //document.getElementById('tragetAnnotation').value = "";
    }
</script>
